{% extends 'base.html.twig' %}

{% block title %}Games index{% endblock %}

{% block body %}
    <h1>Games index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Gameid</th>
                <th>Gametitle</th>
                <th>Platforms</th>
                <th>Gamedesc</th>
                <th>Releasedate</th>
                <th>Thumbnailurl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.gameid }}</td>
                <td>{{ game.gametitle }}</td>
                <td>{{ game.platforms }}</td>
                <td>{{ game.gamedesc }}</td>
                <td>{{ game.releasedate }}</td>
                <td>{{ game.thumbnailurl }}</td>
                <td>
                    <a href="{{ path('games_show', {'gameid': game.gameid}) }}">show</a>
                    <a href="{{ path('games_edit', {'gameid': game.gameid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('games_new') }}">Create new</a>
{% endblock %}
