{% extends 'base.html.twig' %}

{% block title %}Gamereqs{% endblock %}

{% block body %}
    <h1>Gamereqs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Gamerid</th>
                <td>{{ gamereq.gamerid }}</td>
            </tr>
            <tr>
                <th>Gametitle</th>
                <td>{{ gamereq.gametitle }}</td>
            </tr>
            <tr>
                <th>Platforms</th>
                <td>{{ gamereq.platforms }}</td>
            </tr>
            <tr>
                <th>Gamedescription</th>
                <td>{{ gamereq.gamedescription }}</td>
            </tr>
            <tr>
                <th>Releasedate</th>
                <td>{{ gamereq.releasedate }}</td>
            </tr>
            <tr>
                <th>Thumbnailurl</th>
                <td>{{ gamereq.thumbnailurl }}</td>
            </tr>
        </tbody>
    </table>
    
    <a class="robber" href="{{ path('gamereqs_index') }}">back to list</a>

    <a class="robber" href="{{ path('gamereqs_edit', {'gamerid': gamereq.gamerid}) }}">edit</a>

    {{ include('gamereqs/_delete_form.html.twig') }}
{% endblock %}
